html, body{
    font-size: 100%;
    font-family: Arima;
    background:#ffffff;
    margin: 0;
}


 @font-face {
    font-family:'myFirstFont';
    src: url(../fonts/Aileron-SemiBold.otf);
 
} 
.wild-main-listing
{
    margin-top:100px;
}
p
{
      font-family:'Arima';
}
 @font-face {
    font-family:'Arima';
    src: url(../fonts/Poppins-Light.ttf);
 
} 
ul
{
/*    margin-left:4px!important;*/
        list-style: none;
}
   /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider arrow skin 106 css*/
        .jssora106 {display:block;position:absolute;cursor:pointer;}
        .jssora106 .c {fill:#fff;opacity:.3;}
        .jssora106 .a {fill:none;stroke:#000;stroke-width:350;stroke-miterlimit:10;}
        .jssora106:hover .c {opacity:.5;}
        .jssora106:hover .a {opacity:.8;}
        .jssora106.jssora106dn .c {opacity:.2;}
        .jssora106.jssora106dn .a {opacity:1;}
        .jssora106.jssora106ds {opacity:.3;pointer-events:none;}

        /*jssor slider thumbnail skin 101 css*/
        .jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
        .jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
        .jssort101 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
        .jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
        .jssort101 .p:hover{padding:2px;}
        .jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
        .jssort101 .p:hover.pdn{padding:0;}
        .jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
        .jssort101 .pav .cv {border-color:#fff;opacity:.35;}
        .jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
        .jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
        .jssort101 .pav .t, .jssort101 .p:hover .t{opacity:1;}
        .dark2
        {
                font-size: 15px;
                margin-top:10px;
        }
.one1
{
    border-bottom:1px solid #ccc;
        margin-bottom: 30px;
}
.one1 p
{
font-size: 15px;
}
.re 
{
        text-align: center;
    padding-top: 20px;
    height:100px;
}
.review-part-left img {
    height: 95px;
    width: 95px;
    border-radius: 50%;
}
.review-part-left p {
    margin: 0px;
    font-size: 14px;
    color: #B3B5B4;
}
.mnth
{
        border: 1px solid #ccc;
    color: #000!important;
    padding: 8px;
    font-size: 14px;
    outline: none;
}
.wild-price-info
{
    margin-top:15px;
        font-family: sans-serif;
}
.dis
{
    font-size: 20px;
    text-decoration: line-through;
    color: rgba(59,68,78,0.5);
    padding-top:10px;
}
.final
{
        font-size: 35px;
     font-weight: bold;
    color: #a74500;
}
.per_person_new {
    padding-left: 3px;
    font-size: 15px !important;
    line-height: 17px !important;
}
.select-mnth i
{
  float: left;
    width: 18%;
    color: #fff;
    padding: 7px;
    text-align: center;
}
.select-mnth input
{
    float: right;
    width: 80%;
}
.book
{
    background: #f16f30;
    width: 100%;
    display: block;
    max-width: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border: 0;
    text-transform: capitalize;
    height: 50px;
    line-height: 50px;
    border-radius: 0;
    padding: 0;
    position: relative;
    margin: 0px;
}
.book:hover {
    background: #c4551f;
    }
.tiny ul {
   
    text-align: left;
    margin-left:-45px;
}
.tiny ul li {
 list-style: none;
    position: relative;
    padding-left: 35px;
    line-height: 200%;
    font-size: 13px;
    letter-spacing: 0.7px;
}
.tiny ul li:before {
       content: '';
    display: block;
    width: 7px;
    height: 7px;
    border: 1px solid #b18857;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    left: 16px;
    top: 8px;
}
.pack h5 {
    padding: 10px;
    font-size: 18px;
    color: #8e4800;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.pack .green-tick {
    background-position: -13px -22px;
    width: 14px;
    height: 12px;
    margin-right: 7px;
    display: inline-block;
}
.pack ul
{
   /* margin-left: -45px;*/
}
.pack ul li
{
    text-align: center;
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 0.7px;
    padding:15px;
    display: inline-block;
}
.mt20
{
    margin-top: 0px
}
.common
{
        color: #005075;
    font-size: 18px;
    padding-left: 15px;
    font-family: sans-serif;
}
.btn-expand
{    border: 1px solid #ccc;
      font-size: 13px;
    font-family: sans-serif;
    padding: 10px;
    color: #000;
    letter-spacing: 0px;
    margin-top: 10px;
    background: #db8e0000;
    cursor: pointer;
    border-radius: 25px;   
}
.border-right {
    background: url(../img/side-border.png) no-repeat right top;
}
.day1
{
        font-size: 18px;
    padding: 10px;
    border-top: 1px solid #ccc;
}
.day img
{
    height:250px;
    object-fit: cover;
}
.mb60
{
    margin-bottom: 60px;
}
.main-top{
    margin-top:100px;
}

.navbar-brand img
{
        margin-top: -16px;
    width: 80%;
}
.white
{
    background: #fff;
}

.no-padding
{
  padding: 0;
  border: 0;
}
.drop
{
      background: rgba(0, 0, 0, 0.32);
    border-bottom: 10px solid #000;
}
.drop p {
    text-align: center;
    color: #e68b00;
    font-size: 13px;
    border-bottom: 1px solid #505050;
    padding-bottom: 10px;
}

.grey2
{
  background: #f1f1f1;
  padding-bottom: 20px;
}
.car img
{
 width: 100%;
}

.T1{
    text-align: center;;
}
.card {
    position: relative;
    display: block;
    margin-bottom: 0.75rem;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-img-top
{
    width:100%;
    height:250px!important;
    object-fit: cover;
}

.card-block::after {
  content: "";
  display: table;
  clear: both;
}

.card-title {
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: 700;
    color: #001a35;
    text-align: center;
    height: 20px;
}






#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
  display: none;
}
.nbs-flexisel-container {
  position: relative;
  max-width: 100%;
}
.nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;

}

.nbs-flexisel-inner {
  overflow: hidden;
}
.nbs-flexisel-item {
  float: left;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  position: relative;
}
.nbs-flexisel-item > a img {
  cursor: pointer;
  position: relative;


}
ul#flexiselDemo1 h4 a {
  margin: 25px 0 8px 0;
  font-size: 0.9em;
  display: block;
  color:#920508;
}
ul#flexiselDemo1 h4 a:hover {
  color: #026466;
  text-decoration: none;
}
ul#flexiselDemo1 p{
  font-size: 0.8em;
}

/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
     width: 75px;
    height: 100px;
    position: absolute;
    cursor: pointer;
    margin-top: 50px;
}
.nbs-flexisel-nav-left > .c1{
    background-color: #fff
    left: -32px !important;
}
.nbs-flexisel-nav-left {
  left: -100px;
  background: url(../img/left.png) no-repeat 0px 0px;
  top: -10.5px!important;
}
.nbs-flexisel-nav-right {
right: -90px;
    background: url(../img/left.png) no-repeat 0px 0px;
    top: 36.5px!important;
    -ms-transform: rotate(-182deg);
    -webkit-transform: rotate(-182deg);
    transform: rotate(-182deg);
}
.logo img
{
        margin-top: -16px;
    width: 80%;
}
.card-img-top {
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.main-cab-date
{
  width:70%!important;
  float: left;
       border-left: 1px solid #ccc!important; 
}


.grey
{
  background:#eee;
}

.main-cab-main
{
      padding: 30px;
    color: #fff;
    text-align: justify;
    line-height: 28px;
    font-size: 14px;
    background:#383838;
  
}

.main-cab-main p
{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.67;
    margin-bottom: 25px;
  }  

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc;
}

.dark {
    background: rgb(56, 56, 56)!important;
    border-bottom: 10px solid #000;
}


.scrollbar {
   height: 130px;
    background: #F5F5F5;
    overflow-y: scroll;
    position: absolute;
    bottom: 18px;
    top: 75px;
    left: 35px;
    box-shadow: 0px 3px 11px #101010;
    z-index: 999;
    width: 88%;
}

.my-searchlist {
    width: 100%;
    height: auto;
    background: #fff;
}
.my-searchlist ul {
    list-style-type: none;
    margin-left: -40px;
}
.my-searchlist ul li {
    border-bottom: 1px solid #e8e8e8;
    color: #666;
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 5px;
    padding: 7px;
    text-align: left;
    text-shadow: 0 0 11px #fff;
}
.style-4::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
  background-color:#F5F5F5;}.style-4::-webkit-scrollbar{width:5px;background-color:#000;}
  .style-4::-webkit-scrollbar-thumb{background-color:#000;border:1px solid #000;}



@media (min-width:318px) and (max-width: 554px) {
.cab-payment
{
  margin-left:0%;
  margin-right:0%;
  background: #222 url(../img/c3.png) center center no-repeat;
}


  .black {
    background: rgba(0, 0, 0, 0.35);
    padding: 0px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 6px #000;
    border-bottom: 10px solid #000000;
}

.res-padding
{
  padding:0;
}
.logo {
    width: 100%;
}
.drop {
    background: rgb(60, 60, 60);
    border-bottom: 10px solid #000;
}
.recommendation
{
  display: none;
}
.main-cab-btn {
    width: 30%;
    float: left;
    padding: 8px;
    font-size: 14px;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.font-small {
    font-size: 10px!important;
    padding: 0px!important;
}
}



@media (min-width: 554px) and (max-width: 767px) {

.logo {
    width: 30%;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
     width: 0px; 
    height: 35px;
    position: absolute;
    cursor: pointer;
    margin-top: 30px;
}
}

@media (min-width: 1024px) and (max-width: 1200px) {
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
     width: 0px; 
    height: 35px;
    position: absolute;
    cursor: pointer;
    margin-top: 30px;
}
}

@media (min-width:318px) and (max-width: 1200px) {

.drop {
    background: rgb(60, 60, 60);
    border-bottom: 10px solid #000;

}
}


.head5 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 8px;
    color: #fff;
    font-weight: 600;
    border-bottom: 1px solid;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #00000099;
}

.card .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}






 #cover2 {
    background: #222 url(../img/star.jpg) center center no-repeat;
    color: #373a3c;
    height: 100%;
    width: 100%;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    padding: 0px;
}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td {     padding-left: 0; }
.panel-body .table {margin-bottom: 0px; }
.price-w
{
       font-size: 25px;
    text-align: center;
    font-weight: 600;
    padding-top: 45px;
    color: #000000;

}
.wild-index 
{
    color: #fff;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 10px;
    box-shadow:0px 7px 22px #00000094;;
}
.wild-sort ul
{
list-style: none;
}
.w-l-m
{
    margin-bottom: 100px;
}
.wild-sort ul li
{
     float: left;
    font-size: 14px;
    margin: 5px;
    padding-right: 5px;
    text-align: center;
    letter-spacing: 0.6px;
    cursor: pointer;
}
.wl
{
      margin-right: 20px;
    font-size: 13px;
    padding-left: 10px;
}
.price-w2
{
        font-size: 18px;
    text-align: center;
    text-decoration: line-through;
    color: #969696;
   

    
}

.pt15
{
        padding-top: 15px;
}

.btn-wild
{
   background: #7d7b7b;
    width: 100%;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px; 
}
.border-left {
    background: url(../img/side-border.png) no-repeat right top;
}
.w-details
{
height: 200px;
    padding: 12px;
}
.mr8 {
    margin-right: 8px!important;
}
.iblock {
    display: inline-block!important;
}
.wild-img
{
        width: 100%;
    height: 200px;
    object-fit: cover;
}

.w1 {
       font-size: 16px;
    line-height: 15px;
    color: #3e3e3e!important;
    font-weight: 600;
    cursor: pointer;
}
.relative {
    position: relative!important;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.wild-checkbox {
    display: none;
}
.fright {
    float: right!important;
}
.wild-checkbox.addto-compare+label {
    padding: 0 26px 0 8px;
    text-align: right;
}
.label12{
    margin-bottom: 0px;
}
.wild-checkbox+label {
    display: block;
    font-weight: 400;
    line-height: 18px;
    min-height: 18px;
    font-size: 12px;
    padding-left: 26px;
    position: relative;
    color: #3e3e3e;
    cursor: pointer;
    font-size: 14px;
    /* word-wrap: break-word; */
    padding: 12px 8px 12px 26px;
}
.pfc1 {
    color: #00b5fa!important
}
.wild-checkbox.addto-compare+label:before {
    left: auto;
    right: 0;
}
.wild-checkbox+label:before {
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    left: 0;
    border-radius: 2px;
    border: 1px solid #3e3e3e;
}
.wild-checkbox:checked+label:before {
    border-color: #20a397;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiP…AgICAgICAgICA8L2c+ICAgICAgICAgICAgPC9nPiAgICAgICAgPC9nPiAgICA8L2c+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 86%;
}

.wild-checkbox:checked+label:before, .pbc1, .radio-common-default:checked+label:before {
    background-color: #00b5fa!important;
}
.css-1hyvy5l, [data-css-1hyvy5l] {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 160px;
    z-index: 4;
    left: 50%;
    bottom: 26px;
    display: none;
    transform: translateX(-50%);
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
}

.w12 {
      font-size: 12px;
    line-height: 16px;
    color:#c0a000;
        padding-left: 5px;
}
.w-off
{
background: #00b5fa;
    padding: 4px;
    text-align: center;
    color: #ffffff;
}
.w7 {
    font-weight: 700;
}
.b-r
{
    border-right:1px solid #ccc;
}
.b-b
{
    border-bottom:1px solid #ccc;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.radio-common-default {
    display: none;
}
.radio-common-default:checked+label {
    color: #3e3e3e;
}

.radio-common-default+label {
    display: inline-block;
    line-height: 18px;
    min-height: 18px;
    font-size: 12px;
    padding-left: 26px;
    cursor: pointer;
    position: relative;
    font-weight: 400;
    color: #3e3e3e;
    font-size: 14px;
    word-wrap: break-word;
    padding: 12px 8px 12px 26px;
}
.radio-common-default:checked+label:before {
    border-color: #20a397;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiP…AgICAgICAgICA8L2c+ICAgICAgICAgICAgPC9nPiAgICAgICAgPC9nPiAgICA8L2c+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 80%;
}

.checkbox-common:checked+label:before, .pbc1, .radio-common-default:checked+label:before {
    background-color: #00b5fa!important
}
.radio-common-default+label:before {
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    left: 0;
    border: 1px solid #3e3e3e;
}
.radio-common-default+label:before, .radius100 {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}
.fw7 {
    font-weight: 700;
}
.pfc4 {
color: #b2b2b2!important;
    padding-bottom: 10px;
}
.f12 {
    font-size: 12px;
    line-height: 16px;
}
.pr0 {
    padding-right: 0!important;
}
.pt0 {
    padding-top: 0!important;
}
.wild-b {
    background-color: #FFF;
    border: 1px solid #c8c8c8;
    border-radius: 20px;
    padding: 4px 12px;
    font-size: 13px;
    margin-right: 10px;
}
.wild-b {
    color: #595d5f;
    position: relative;
   
}
.wild-b .green-tick {
    background-position: -13px -22px;
    width: 14px;
    height: 12px;
    margin-right: 7px;
    display: inline-block;
}
.green-tick
   {background: url(../img/holiday_listing.png) no-repeat;
    font-size: 0;
}






/*jssor slider loading skin spin css*/
.slide-wild1
{
    position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:150px;overflow:hidden;visibility:hidden;
}



.slide-wild2
{
position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;
background-color:rgba(0,0,0,0.7);
}

.slide-wild3
{
cursor:default;position:relative;top:0px;left:0px;width:980px;height:150px;overflow:hidden;
}
.slide-wild3 img
{
    width:200px!important;
    height:200px!important;
    object-fit: cover!important;
}


        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 057 css*/
        .jssorb057 .i {position:absolute;cursor:pointer;}
        .jssorb057 .i .b {fill:none;stroke:#fff;stroke-width:2000;stroke-miterlimit:10;stroke-opacity:0.4;}
        .jssorb057 .i:hover .b {stroke-opacity:.7;}
        .jssorb057 .iav .b {stroke-opacity: 1;}
        .jssorb057 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 073 css*/
        .jssora073 {display:block;position:absolute;cursor:pointer;}
        .jssora073 .a {fill:#ddd;fill-opacity:.7;stroke:#000;stroke-width:160;stroke-miterlimit:10;stroke-opacity:.7;}
        .jssora073:hover {opacity:.8;}
        .jssora073.jssora073dn {opacity:.4;}
        .jssora073.jssora073ds {opacity:.3;pointer-events:none;}


.btn-wild
{
       width: 100%;
    border: none;
    font-size: 17px;
    /* font-weight: 600; */
    padding: 7px;
    color: #fff;
    letter-spacing: 0px;
    margin-top: -12px;
    background: #db8e00;
    cursor: pointer;
    border: 2px solid;
        border-radius: 25px;
}
.btn-wild:hover
{
      background:#855600; 
}

    .caption-style-4{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        
    }

    .caption-style-4 li{
        float: left;
        padding: 0px;
        position: relative;
        overflow: hidden;
    }

    .caption-style-4 li:hover .caption{
        opacity: 1;
    }

    .caption-style-4 li:hover img{
        opacity: 1;
        transform: scale(1.15,1.15);
        -webkit-transform:scale(1.15,1.15);
        -moz-transform:scale(1.15,1.15);
        -ms-transform:scale(1.15,1.15);
        -o-transform:scale(1.15,1.15);
        -webkit-filter: grayscale(100%) blur(3px);
    filter: grayscale(100%) blur(3px);
 
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    }


    .caption-style-4 img{
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: 4;
    }


    .caption-style-4 .caption{
        cursor: pointer;
        position: absolute;
  
            width: 100%;
        -webkit-transition:all 0.45s ease-in-out;
        -moz-transition:all 0.45s ease-in-out;
        -o-transition:all 0.45s ease-in-out;
        -ms-transition:all 0.45s ease-in-out;
        transition:all 0.45s ease-in-out;
    }

    .caption-style-4 img{
        -webkit-transition:all 0.25s ease-in-out;
        -moz-transition:all 0.25s ease-in-out;
        -o-transition:all 0.25s ease-in-out;
        -ms-transition:all 0.25s ease-in-out;
        transition:all 0.25s ease-in-out;
          -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);

    }
    .caption-style-4 .blur{
        background-color: rgba(0, 0, 0, 0.32);
        height: 250px;
        width:100%;
        z-index: 5;
        position: absolute;
    }

    .caption-style-4 .caption-text h1{
        text-transform: uppercase;
        font-size: 24px;
    }
    .caption-style-4 .caption-text{
          z-index: 10;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 250px;
    text-align: center;
      top: 85px;
    }















.navbar-inverse {
    background-color: #303740;
   
}

.logo {
    width: 50%;
    margin: 0px auto;
}
.logo img {
    width: 100%;
}
.adv
{
    color: #fff;
    padding: 15px;
    float: right;
    cursor: pointer;
}

#cover {
    background:#222 url(../img/star.jpg)bottom center no-repeat;;
    color: #373a3c;
    height: 650px;
    width: 100%;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    padding: 50px;
}

.trovi-main {
    margin-top: 100px;
    margin-bottom: 100px;
}
.head {
    font-size: 40px;
    color: #fff;
    text-shadow: 0px 0px 8px #000;
    margin: 30px;
}
.head {
     font-size: 55px;
    color: #fff;
    margin: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.Search-bar {
       background:rgba(0, 0, 0, 0);
    width: 60%;
    padding: 5px;
    margin: 0px auto;
    box-shadow: 0px 0px 11px #000;
}

.no-padding {
    padding: 0px!important;
}

.searchbar {
    float: left;
    border: none;
    outline: none;
}

.no-padding {
    padding: 0px!important;
}


.searchbar {
    float: left;
    border: none;
    outline: none;
}

.search-btn {
      width: 100%;
    padding: 16px;
}
.search-btn i {
   font-size: 19px;
    color: #31aaff;
    padding-left: 5px;
}
.searchbar input {
        width: 100%;
    float: left;
    padding: 15px;
    border: none;
    outline: none;
    text-transform: capitalize;
    color: #373a3c;
    letter-spacing: 1px;
   
}


.main1
{
        background: #fff;
       padding-top: 50px;
    padding-bottom: 50px;
}

.head1 {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    padding: 15px;
    color: #fff;
    background: #28a6ff;
}

.main1 .title
{
 font-size: 18px;
    /* font-weight: bold; */
    color: #d26100;

}
.bor-r
{
    border-right:1px solid #ccc;
}
.bor-b
{
    border-bottom:1px solid #ccc;
}

.dec
{
    font-size:14px;
}
/*.main2
{
        margin: 50px;
}*/
.main2 img
{
       width: 100%;
    object-fit: cover;
    cursor: pointer;
    height: 204px;
}
.main2 .w-right1 img {
       height: 152px;
    object-fit: cover;
    padding: 2px;
}
.main2 .w-left1 img {
       height: 250px;
    object-fit: cover;
    padding: 2px;
    cursor: pointer;
}


.head2
{
         text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
    padding-bottom: 30px;
    color: #ca5d00;
    font-weight: 600;
}

.head2:before {
    position: relative;
    content: url(../img/black-line.png);
    padding-right: 40px;
    top: -5px;
}
.head2:after {
    position: relative;
    content: url(../img/black-line.png);
    padding-left: 40px;
    top: 5px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    display: inline-block;
    left: 40px;
}


.main3
{
    color: #000000;
    margin: 0px auto;
    width: 87%;
    padding: 10px;
}


.main3 .title {
       font-size: 15px;
    padding: 10px;
    font-family: sans-serif;
    border: 1px #d8d8d8 solid;
    text-align: center;
    color: #003690;
    cursor: pointer;
}

.main4
{
        background: url(../img/bg1.jpg) no-repeat 0px 0px;
    padding-top: 40px;
    padding-bottom:40px;
        
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
}
.main4 h6
{
    position: absolute;
    width: 97%;
    left: 6px;
    bottom: 120px;
    padding: 15px;
    text-align: center;
    color: #fff;
    background: #000000bf;
}

.main4 h6 a
{
     color: #ff8d00;
    font-size: 18px;
    letter-spacing: 1px;
}


.main4 p
{
    font-size: 13px;
    text-align: center;
    line-height: 24px;
    border: 1px solid #cccccc91;
    padding:36px;

}

.card  img
{
    height: 370px;
    object-fit: cover;
        padding: 5px;
            background: #fff;
}


.btn1 {
    width: 60%;
    background: #ffffff;
    border: none;
    padding: 10px;
    position: absolute;
    z-index: 999;
    left: 60px;
    bottom: -18px;
    box-shadow: 0px 1px 11px #9f9c9c;
}
.btn1 a
{
  color:#FF4500;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
        font-style: italic;
}
#footer-wrapper {
    overflow: hidden;
    background-image: -ms-linear-gradient(right, #006A81 30%, #567D00 70%);
    background-image: -moz-linear-gradient(right, #006A81 30%, #567D00 70%);
    background-image: -o-linear-gradient(right, #006A81 30%, #567D00 70%);
    background-image: -webkit-gradient(linear, right top, left top, color-stop(.3, #006A81), color-stop(.7, #567D00));
    background-image: -webkit-linear-gradient(right, #006A81 30%, #567D00 70%);
    background-image: linear-gradient(to left, #006A81 30%, #567D00 70%);
}
.footer-content-wrapper {
    background: url(../img/footer.jpg) no-repeat;
      

}
.content-container {
        margin: 0 auto;
    text-align: center;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
}
.walk-around-data {
border-right:1px solid #cccccc61;
 
    height: auto;
    transition: all .3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in-out;
}
.address-data ul, .walk-around-data ul, .major-package-data ul, .major-service-data ul {
    margin-top: 18px;
}
.walk-around-data li>a {
        font-size: 15px;
    color: #fff;
    line-height: 32px;
    height: 300px;
    transition: all .3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in-out;

    background-position: 20px;
}
.major-package-data, .major-service-data {
 border-right:1px solid #cccccc61;
 
    height: 300px;
    
    transition: all .3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in-out;
}

.major-package-data li>a, .major-service-data li>a {
    font-size: 15px;
    color: #fff;
    line-height: 32px;


    transition: all .3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in-out;
}

.address-data {
   
    float: left;
    height: auto;
    transition: all .3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in-out;
}
.address-data>div {
    margin-top: 22px;
}
.address-data p {
   font-size: 15px;
    color: #fff;
    line-height: 32px;
  
    padding-left: 35px;
    margin: 0;
    line-height: 31px;
}
.address-data span {
    color: #b4d614;
}

#design-by-wrapper {
       background: rgba(0, 0, 0, 0.35);
    height: 70px;
 
}

.design-by span {
    font-size: 15px;
   color: #fff;
    line-height: 32px;
    font-family: sans-serif;
    opacity: .7;
    padding: 18px;
}

.copyright {
    float: left;
    width: 40%;
}

.design {
    float: right;
}

.design a
{
    color: #fff;
}

.main5 img
{
     height: 250px;
    width: 100%;
    padding: 2px;
    background: #fff;
    object-fit: cover;
}

.main5 {
    padding-top: 50px;
    padding-bottom: 100px;
    background: url(../img/bg2.jpg) bottom no-repeat;
}
.main5 .btn-wild
{
      width: 30%;
    margin-left: 36%;
    margin-top: 5%;
}
.main6
{
        padding-top: 50px;
    padding-bottom: 200px;
}

.main6 p
{
    text-align: justify;
    font-size: 13px;
    line-height: 26px;
}

.bor-r
{
border-right: 1px solid #ccc;
}

/*.main6{
    background: url(../img/bg2.jpg) no-repeat;
 
}*/

.head3 {
    text-align: center;
    font-size: 15px;
        margin-top: 20px;
    letter-spacing: 1px;
    padding-bottom: 15px;
    color: #ff9841;
    border-bottom: 1px solid#cccccc9e;
}



/* Zoom In #1 */
.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

.hover01 
{
    text-align: center;
   
}
.hover01 h3.a1 {
    position: absolute;
    z-index: 999;
    bottom: 37%;
    background: #0a0a0a78;
    width: 64%;
    right: -25%;
    color: #fff;
    padding: 10px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    font-size: 28px;
}
.hover01 h3.a2 {
        position: absolute;
    z-index: 999;
    bottom: -7px;
    background: #0a0a0a70;
    width: 100%;
    right: 0;
    color: #fff;
    padding: 10px;
    font-size: 16px;

}
.hover01 h3.a3 {
position: absolute;
    z-index: 999;
    bottom: 30%;
    background: #0a0a0a78;
    width: 57%;
    right: -19%;
    color: #fff;
    padding: 10px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    font-size: 24px;
}

.hover01 h3.a4 {
    position: absolute;
    z-index: 999;
    TOP: 1px;
    background: #0a0a0a78;
    width: 100%;
    right: 0;
    color: #fff;
    padding: 10px;
       font-size: 30px;
}

.main4 p:hover
{
background: #ffecc1;
   color: #000;
}
.main5 img
{
    cursor: pointer;
}
.main5 h3
{
      background: #000000a6;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    border-right: 1px solid #ccc;
}


.navbar-inverse .navbar-brand {
    color: #9d9d9d;
}


.navbar-inverse .navbar-brand {
    color: #9d9d9d;
}
.navbar-brand {
    position: relative;
    z-index: 2;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.navbar .navbar-collapse {
    position: relative;
}


.main5 div h3 {
    width: 100%;
    position: absolute;
    left: 0;
        top: 0px;
    z-index: 9999;
    display: block;
    margin: 0;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
    opacity: 0;
    text-align: center;
}
.main5 figure:hover+h3 {
  
    opacity:10;

}
.main5 figure:hover
{
    cursor: pointer;
}

/* Rotate */
.hover11 figure img {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
  
}
.hover11 figure:hover img {
-webkit-filter: grayscale(100%) blur(3px);
    filter: grayscale(100%) blur(3px);
 
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}


.hover09 figure img {
  
      -webkit-filter: sepia(0);
    filter: sepia(0);
}
.hover09 figure:hover img {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    padding:15px;

}











@media (min-width: 768px)


{
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.collapse {
    display: none;
   /* visibility: hidden;*/
}
.wild-list .caption-style-4 img {
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
    height: 250px;
    object-fit: cover;
}


.panel-group
{
    margin-top: 30px;
}
.destination-type-body label
{
    margin-right: 20px;
    font-size: 13px;
    padding-left: 10px;
}
.panel-body a
{
    color:#000;
    font-size: 13px;
}
.panel-title :hover
{
    text-decoration: none;
}
.panel-title :focus
{
    text-decoration: none;
}
.panel-title
{
       padding-right: 30px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
        line-height: 40px;
    cursor: pointer;
 font-size: 13px;}
.navbar-right {
    float: right!important;
    margin-right: -15px;
}
.navbar-nav>li {
    float: left;
}
.nav>li {
    position: relative;
    display: block;
}
.navbar-inverse .navbar-nav>li>a {
    color: #c7c7c7;
    letter-spacing: 0px;
    border-right: 2px solid #808080;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
  text-decoration: none;
}



.navbar-nav>li>a {
      line-height: 20px;
    font-size: 13px;
     text-decoration: none;
}
.nav>li>a {
       position: relative;
    display: block;
    padding: 10px 15px;
    color: #ffffffb8;
    text-decoration: none;
}
.nav>li>a:hover
{
  text-decoration: none; 
   color: #fff; 
}
}



@media (min-width: 768px)
{


    .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    visibility: visible!important;
}
}
@media (min-width: 768px)
{
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
}




@media (min-width: 768px)
{
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
}





@media (min-width: 768px)
{
    .navbar-toggle {
    display: none;
}

}

@media (min-width: 318px) and (max-width: 480px) 
{
 .major-package-data, .major-service-data {
    border-right: 1px solid #cccccc61;
    height:205px;
    transition: all .3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in-out;
}   
.major-package-data li>a, .major-service-data li>a {
    font-size: 12px;
    color: #fff;
    line-height: 20px;


    transition: all .3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in-out;
}
.navbar-inverse .navbar-nav>li>a {
       color: #c7c7c7;
    letter-spacing: 0px;
    font-size: 12px;
    padding: 8px;
    text-decoration: none;
}
.navbar-inverse .navbar-nav>li {
    padding: 5px;
    border-bottom: 1px solid #5f5f5f;
}
.navbar-toggle {
       position: relative;
    float: right;
    padding: 14px;
    margin-top: 0px;
    margin-right: 40px;
    background-image: url(../img/r1.png);
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
}


.bg5
{
    background:#303740;
}

    
    .design-by span {
    font-size: 11px;
    color: #fff;
    line-height: 24px;
    font-family: sans-serif;
    background: #0000008a;
    padding: 0;
    width: 100%;
}
.major-service-data li>a {
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    transition: all .3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in-out;
}
.address-data p {
    font-size: 12px;
    color: #fff;
    /* text-align: left; */
    padding-left: 0;
    margin: 0;
    line-height: 25px;
}
    .footer-content-wrapper {
    background: url(../img/footer.jpg) no-repeat;
    BACKGROUND-POSITION: center;
    background-size: cover;
}
.head3 {
    text-align: center;
    font-size: 13px;
    margin-top: 14px;
    letter-spacing: 0px;
    padding-bottom: 5px;
    color: #ff9841;
    border-bottom: 1px solid#cccccc9e;
}
.address-data ul, .walk-around-data ul, .major-package-data ul, .major-service-data ul {
    margin-top: 5px;
}
    .walk-around-data li>a {
    font-size: 12px;
    color: #fff;
    line-height:20px;
    transition: all .3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in-out;
    background-position: 20px;
}
    #cover {
    background: #222 url(../img/star.jpg) center center no-repeat;
    color: #373a3c;
    height: 100%;
    width: 100%;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    padding: 10px;
}
    .head {
    font-size: 20px;
    color: #fff;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: 0px;
}
    .btn-wild {
    width: 100%;
    border: none;
    font-size: 13px;
    /* font-weight: 600; */
    padding: 5px;
    color: #fff;
    letter-spacing: 0px;
    margin-top: -12px;
    margin-bottom: 10px;
    background: #db8e00;
    cursor: pointer;
    border: 2px solid;
    border-radius: 25px;
}
    .main1 {
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.head2 {
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    color: #ca5d00;
    font-weight: 600;
}
.head2:after {
    position: relative;
    content: url(../img/black-line.png);
    padding-left: 0px;
    top: 5px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    display: inline-block;
    left: -3px;
}
.head2:before {
    position: relative;
    content: url(../img/black-line.png);
    padding-right: 40px;
    top: -5px;
    display: none;
}
.respo1
{
    display: block;
}
.respo2
{
    display:none!important;
}


.slide-wild1 .a2 {
    position: absolute;
    z-index: 999;
top: 0;
    background: #0a0a0a70;
    width: 100%;
    right: 0;
    color: #fff;
   padding: 10px;
    font-size: 16px;
        text-align: center;
}
.main3 {
    color: #000000;
    margin: 0px auto;
    width: 100%;
    padding: 0px;
}

.p-res {
    float: left;
    color: #fff;
    padding-left: 30px;
}
}

@media (min-width:481px) and (max-width:1900px) {
.p-res
{
  display: none;
}
.respo1
{
    display: none;
}
.respo2
{
    display:block;
}


    }




.gallery-title
{
    font-size: 36px;
    color: #000;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #ddd;
}
.filter-button
{
    width: auto;
height: auto;
text-decoration: none;
color: #333;
font-size: 15px;
padding: 5px 5px;
border-radius: 50px;
border: 1px solid #ddd;

}
.filter-button:hover
{
 width: auto;
height: auto;
text-decoration: none;
color: #333;
font-size: 15px;
padding: 3px 5px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
background: #cfcfcf;

}
.mt{
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
.cuadro_intro_hover{
        padding: 0px;
        position: relative;
        overflow: hidden;
        height: 220px;
    }
    .cuadro_intro_hover:hover .caption{
        opacity: 1;
        transform: translateY(-150px);
        -webkit-transform:translateY(-150px);
        -moz-transform:translateY(-150px);
        -ms-transform:translateY(-150px);
        -o-transform:translateY(-150px);
    }
    .cuadro_intro_hover img{
        z-index: 4;
       /* height: 350px;*/
        width: 100%;
    }
    .cuadro_intro_hover .caption{
        position: absolute;
       top: 170px;
        -webkit-transition:all 0.3s ease-in-out;
        -moz-transition:all 0.3s ease-in-out;
        -o-transition:all 0.3s ease-in-out;
        -ms-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
        width: 100%;
    }
    .p{
        margin-top: 20px !important;
    }
    .cuadro_intro_hover .blur{
        background-color: rgba(0,0,0,0.7);
        height: 300px;
        z-index: 5;
        position: absolute;
        width: 100%;
    }
    .cuadro_intro_hover .caption-text{
        z-index: 10;
        color: #fff;
        position: absolute;
        height: 300px;
        text-align: center;
        top:-20px;
        width: 100%;
    }
    .button-book{
        background-color: #D19000;
        color: #fff;
        border-radius: 50px;
        font-weight: 700;
    }
    .span-disc{
        font-size: 13px;
        color:#D19000;
        font-weight: 700;
        padding-right: 10px;
    }
 /*   .Includes-details{
        display: inline-flex;

    }*/
    .Includes-details a{
       /* padding: 10px;*/
        color: #333;
    }
    .Includes-details p{
       /* padding: 10px;*/
        color: #333;
    }
    .activity-details i{
        font-size: 25px;
    }

.ui-widget-content {
border: 1px solid #ffcc00;
background: #ccff00;
color: #0000ff;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid #ccc;
background: #f6f6f6 url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/css/lightness/images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
font-weight: bold;
color: #1c94c4;
}
.ui-slider-horizontal .ui-slider-handle {
top: -.3em;
margin-left: -.6em;
}

.ui-slider-handle.ui-state-default.ui-corner-all{
  border: 3px solid #00ff00;
}

#accordion-tripping .panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
  box-shadow: none;
}

#accordion-tripping .panel:last-child {
  border-bottom: none;
}

#accordion-tripping .panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

#accordion-tripping .panel-group .panel {
  border-radius: 0;
}

#accordion-tripping .panel-group .panel + .panel {
  margin-top: 0;
}

#accordion-tripping .panel-heading {
  background-color: #fff;
  border-radius: 0;
  border: 2px solid #686868;;
  color: #333;
 /* padding: 10px;*/
 height: 50px;
 text-transform: capitalize;
 font-size: 18px;
}

#accordion-tripping .panel-title a {
  display: block;
  color: #C4551F;
  padding: 10px;
  position: relative;
  font-size: 18px !important;
  font-weight: 700;
  text-align: left;

}

#accordion-tripping .panel-body {
  background: #fff;
}

#accordion-tripping .panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

#accordion-tripping .panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  transition: border-radius 0.3s linear 0.2s;
}

#accordion-tripping .panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

#accordion-tripping .panel-heading a:before {
  content: '\e146';
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  transform: scale(1);
}

#accordion-tripping .panel-heading.active a:before {
  content: ' ';
  transition: all 0.5s;
  transform: scale(0);
}

#bs-collapse .panel-heading a:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  font-family: 'FontAwesome';
  right: 5px;
  top: 10px;
  transform: scale(0);
  transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
  content: '\f107';
  transform: scale(1);
  transition: all 0.5s;
}
/* #accordion rotate icon option */

#accordion-tripping .panel-heading a:before {
  content: '\f106';
  font-size: 24px;
  position: absolute;
  font-family: 'FontAwesome';
  right: 5px;
  top: 10px;
  transform: rotate(180deg);
  transition: all 0.5s;
}

#accordion-tripping .panel-heading.active a:before {
  transform: rotate(0deg);
  transition: all 0.5s;
}
.md-dialog{
    max-width: 555px !important;
    margin: 30px auto;
}
.bt12{
    background-color: #ddd;
height: 40px;
margin-top: 10px;

}
.text-board li {
    display: inline-block;
}